-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: pdao_db_new
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity_logs`
--

DROP TABLE IF EXISTS `activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `action_type` enum('login','logout','created','updated','deleted','restored','approved','rejected','exported','imported','backup','restore') NOT NULL,
  `model_type` varchar(255) DEFAULT NULL,
  `model_id` bigint(20) unsigned DEFAULT NULL,
  `old_values` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`old_values`)),
  `new_values` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`new_values`)),
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `activity_logs_user_id_index` (`user_id`),
  KEY `activity_logs_action_type_index` (`action_type`),
  KEY `activity_logs_model_type_model_id_index` (`model_type`,`model_id`),
  KEY `activity_logs_created_at_index` (`created_at`),
  CONSTRAINT `activity_logs_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_logs`
--

LOCK TABLES `activity_logs` WRITE;
/*!40000 ALTER TABLE `activity_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activity_logs_archive`
--

DROP TABLE IF EXISTS `activity_logs_archive`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_logs_archive` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `archive_month` varchar(7) NOT NULL,
  `original_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `action_type` varchar(255) NOT NULL,
  `model_type` varchar(255) DEFAULT NULL,
  `model_id` bigint(20) unsigned DEFAULT NULL,
  `old_values` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`old_values`)),
  `new_values` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`new_values`)),
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `description` text DEFAULT NULL,
  `original_created_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `activity_logs_archive_archive_month_index` (`archive_month`),
  KEY `activity_logs_archive_user_id_index` (`user_id`),
  KEY `activity_logs_archive_action_type_index` (`action_type`),
  KEY `activity_logs_archive_model_type_model_id_index` (`model_type`,`model_id`),
  KEY `activity_logs_archive_original_created_at_index` (`original_created_at`),
  CONSTRAINT `activity_logs_archive_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_logs_archive`
--

LOCK TABLES `activity_logs_archive` WRITE;
/*!40000 ALTER TABLE `activity_logs_archive` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_logs_archive` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `backups`
--

DROP TABLE IF EXISTS `backups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `backups` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `file_name` varchar(255) NOT NULL,
  `file_path` varchar(255) NOT NULL,
  `size` varchar(255) DEFAULT NULL,
  `status` enum('COMPLETED','FAILED','IN_PROGRESS') NOT NULL DEFAULT 'COMPLETED',
  `notes` text DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `backups_created_by_foreign` (`created_by`),
  KEY `backups_status_index` (`status`),
  KEY `backups_created_at_index` (`created_at`),
  CONSTRAINT `backups_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `backups`
--

LOCK TABLES `backups` WRITE;
/*!40000 ALTER TABLE `backups` DISABLE KEYS */;
/*!40000 ALTER TABLE `backups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `barangays`
--

DROP TABLE IF EXISTS `barangays`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `barangays` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `code` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `barangays_name_unique` (`name`),
  UNIQUE KEY `barangays_code_unique` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `barangays`
--

LOCK TABLES `barangays` WRITE;
/*!40000 ALTER TABLE `barangays` DISABLE KEYS */;
/*!40000 ALTER TABLE `barangays` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `disability_types`
--

DROP TABLE IF EXISTS `disability_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `disability_types` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `code` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `disability_types_name_unique` (`name`),
  UNIQUE KEY `disability_types_code_unique` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `disability_types`
--

LOCK TABLES `disability_types` WRITE;
/*!40000 ALTER TABLE `disability_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `disability_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `generated_reports`
--

DROP TABLE IF EXISTS `generated_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `generated_reports` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `file_name` varchar(255) NOT NULL,
  `file_path` varchar(255) NOT NULL,
  `file_type` enum('PDF','EXCEL') NOT NULL DEFAULT 'EXCEL',
  `report_type` enum('YOUTH_PWD','DILG_FORMAT','LGU_COMPLIANCE','MASTERLIST','CUSTOM') NOT NULL,
  `size` varchar(255) DEFAULT NULL,
  `parameters` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`parameters`)),
  `generated_by` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `generated_reports_report_type_index` (`report_type`),
  KEY `generated_reports_generated_by_index` (`generated_by`),
  KEY `generated_reports_created_at_index` (`created_at`),
  CONSTRAINT `generated_reports_generated_by_foreign` FOREIGN KEY (`generated_by`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `generated_reports`
--

LOCK TABLES `generated_reports` WRITE;
/*!40000 ALTER TABLE `generated_reports` DISABLE KEYS */;
/*!40000 ALTER TABLE `generated_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `type` varchar(255) NOT NULL,
  `title` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `related_type` varchar(255) DEFAULT NULL,
  `related_id` bigint(20) unsigned DEFAULT NULL,
  `action_by` varchar(255) DEFAULT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `read_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `notifications_user_id_is_read_index` (`user_id`,`is_read`),
  KEY `notifications_user_id_created_at_index` (`user_id`,`created_at`),
  CONSTRAINT `notifications_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
INSERT INTO `notifications` VALUES (1,4,'approval','Registration Approved','Your PWD registration has been approved and you are now officially registered in the masterlist.','pending_registration',1,'Admin User',0,NULL,'2026-02-04 05:34:45','2026-02-04 05:34:45');
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pending_registrations`
--

DROP TABLE IF EXISTS `pending_registrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pending_registrations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pwd_profile_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `submission_type` enum('NEW','EXISTING','RENEWAL') NOT NULL DEFAULT 'NEW',
  `status` enum('PENDING','APPROVED','REJECTED','UNDER_REVIEW') NOT NULL DEFAULT 'PENDING',
  `reviewed_by` bigint(20) unsigned DEFAULT NULL,
  `reviewed_at` timestamp NULL DEFAULT NULL,
  `review_notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pending_registrations_pwd_profile_id_foreign` (`pwd_profile_id`),
  KEY `pending_registrations_reviewed_by_foreign` (`reviewed_by`),
  KEY `pending_registrations_status_index` (`status`),
  KEY `pending_registrations_submission_type_index` (`submission_type`),
  KEY `pending_registrations_created_at_index` (`created_at`),
  KEY `pending_registrations_user_id_foreign` (`user_id`),
  CONSTRAINT `pending_registrations_pwd_profile_id_foreign` FOREIGN KEY (`pwd_profile_id`) REFERENCES `pwd_profiles` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pending_registrations_reviewed_by_foreign` FOREIGN KEY (`reviewed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `pending_registrations_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pending_registrations`
--

LOCK TABLES `pending_registrations` WRITE;
/*!40000 ALTER TABLE `pending_registrations` DISABLE KEYS */;
INSERT INTO `pending_registrations` VALUES (1,1,4,'NEW','APPROVED',1,'2026-02-04 05:34:45',NULL,'2026-02-04 05:34:10','2026-02-04 05:34:45',NULL);
/*!40000 ALTER TABLE `pending_registrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) NOT NULL,
  `tokenable_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `token` varchar(64) NOT NULL,
  `abilities` text DEFAULT NULL,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
INSERT INTO `personal_access_tokens` VALUES (5,'App\\Models\\User',1,'auth-token','f174e37285ec1bfbd65925f62775f2df7b8a3d53a40f21c7ce206f9230dfbf33','[\"*\"]','2026-02-04 06:31:39',NULL,'2026-02-04 05:34:19','2026-02-04 06:31:39');
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pwd_addresses`
--

DROP TABLE IF EXISTS `pwd_addresses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pwd_addresses` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pwd_profile_id` bigint(20) unsigned NOT NULL,
  `house_street` varchar(255) DEFAULT NULL,
  `barangay_id` bigint(20) unsigned DEFAULT NULL,
  `city` varchar(255) NOT NULL DEFAULT 'Pagsanjan',
  `province` varchar(255) NOT NULL DEFAULT 'Laguna',
  `region` varchar(255) NOT NULL DEFAULT 'Region 4A',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pwd_addresses_pwd_profile_id_foreign` (`pwd_profile_id`),
  KEY `pwd_addresses_barangay_id_index` (`barangay_id`),
  CONSTRAINT `pwd_addresses_barangay_id_foreign` FOREIGN KEY (`barangay_id`) REFERENCES `barangays` (`id`) ON DELETE SET NULL,
  CONSTRAINT `pwd_addresses_pwd_profile_id_foreign` FOREIGN KEY (`pwd_profile_id`) REFERENCES `pwd_profiles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pwd_addresses`
--

LOCK TABLES `pwd_addresses` WRITE;
/*!40000 ALTER TABLE `pwd_addresses` DISABLE KEYS */;
INSERT INTO `pwd_addresses` VALUES (1,1,'052 Ibaba Subdivision',14,'Pagsanjan','Laguna','4A','2026-02-04 05:34:10','2026-02-04 05:34:10');
/*!40000 ALTER TABLE `pwd_addresses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pwd_contacts`
--

DROP TABLE IF EXISTS `pwd_contacts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pwd_contacts` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pwd_profile_id` bigint(20) unsigned NOT NULL,
  `mobile` varchar(255) DEFAULT NULL,
  `landline` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `guardian_contact` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pwd_contacts_pwd_profile_id_foreign` (`pwd_profile_id`),
  KEY `pwd_contacts_mobile_index` (`mobile`),
  KEY `pwd_contacts_email_index` (`email`),
  CONSTRAINT `pwd_contacts_pwd_profile_id_foreign` FOREIGN KEY (`pwd_profile_id`) REFERENCES `pwd_profiles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pwd_contacts`
--

LOCK TABLES `pwd_contacts` WRITE;
/*!40000 ALTER TABLE `pwd_contacts` DISABLE KEYS */;
INSERT INTO `pwd_contacts` VALUES (1,1,'09616969801',NULL,'renzcalapao12@gmail.com','09996871601','2026-02-04 05:34:10','2026-02-04 05:34:10');
/*!40000 ALTER TABLE `pwd_contacts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pwd_disabilities`
--

DROP TABLE IF EXISTS `pwd_disabilities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pwd_disabilities` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pwd_profile_id` bigint(20) unsigned NOT NULL,
  `disability_type_id` bigint(20) unsigned NOT NULL,
  `cause` enum('Acquired','Congenital') DEFAULT NULL,
  `cause_details` text DEFAULT NULL,
  `is_primary` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pwd_disabilities_pwd_profile_id_disability_type_id_index` (`pwd_profile_id`,`disability_type_id`),
  KEY `pwd_disabilities_disability_type_id_index` (`disability_type_id`),
  CONSTRAINT `pwd_disabilities_disability_type_id_foreign` FOREIGN KEY (`disability_type_id`) REFERENCES `disability_types` (`id`),
  CONSTRAINT `pwd_disabilities_pwd_profile_id_foreign` FOREIGN KEY (`pwd_profile_id`) REFERENCES `pwd_profiles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pwd_disabilities`
--

LOCK TABLES `pwd_disabilities` WRITE;
/*!40000 ALTER TABLE `pwd_disabilities` DISABLE KEYS */;
INSERT INTO `pwd_disabilities` VALUES (3,1,5,'Acquired',NULL,1,'2026-02-04 06:17:02','2026-02-04 06:17:02');
/*!40000 ALTER TABLE `pwd_disabilities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pwd_education`
--

DROP TABLE IF EXISTS `pwd_education`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pwd_education` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pwd_profile_id` bigint(20) unsigned NOT NULL,
  `attainment` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pwd_education_pwd_profile_id_foreign` (`pwd_profile_id`),
  KEY `pwd_education_attainment_index` (`attainment`),
  CONSTRAINT `pwd_education_pwd_profile_id_foreign` FOREIGN KEY (`pwd_profile_id`) REFERENCES `pwd_profiles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pwd_education`
--

LOCK TABLES `pwd_education` WRITE;
/*!40000 ALTER TABLE `pwd_education` DISABLE KEYS */;
INSERT INTO `pwd_education` VALUES (1,1,'College','2026-02-04 05:34:10','2026-02-04 05:34:10');
/*!40000 ALTER TABLE `pwd_education` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pwd_employment`
--

DROP TABLE IF EXISTS `pwd_employment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pwd_employment` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pwd_profile_id` bigint(20) unsigned NOT NULL,
  `status` enum('Employed','Unemployed','Self-Employed') DEFAULT NULL,
  `category` varchar(255) DEFAULT NULL,
  `type` varchar(255) DEFAULT NULL,
  `occupation` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pwd_employment_pwd_profile_id_foreign` (`pwd_profile_id`),
  KEY `pwd_employment_status_index` (`status`),
  CONSTRAINT `pwd_employment_pwd_profile_id_foreign` FOREIGN KEY (`pwd_profile_id`) REFERENCES `pwd_profiles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pwd_employment`
--

LOCK TABLES `pwd_employment` WRITE;
/*!40000 ALTER TABLE `pwd_employment` DISABLE KEYS */;
INSERT INTO `pwd_employment` VALUES (1,1,'Self-Employed',NULL,NULL,'None','2026-02-04 05:34:10','2026-02-04 05:34:10');
/*!40000 ALTER TABLE `pwd_employment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pwd_family`
--

DROP TABLE IF EXISTS `pwd_family`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pwd_family` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pwd_profile_id` bigint(20) unsigned NOT NULL,
  `relation_type` enum('Father','Mother','Guardian','Spouse') NOT NULL,
  `first_name` varchar(255) DEFAULT NULL,
  `last_name` varchar(255) DEFAULT NULL,
  `middle_name` varchar(255) DEFAULT NULL,
  `age` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pwd_family_pwd_profile_id_relation_type_index` (`pwd_profile_id`,`relation_type`),
  CONSTRAINT `pwd_family_pwd_profile_id_foreign` FOREIGN KEY (`pwd_profile_id`) REFERENCES `pwd_profiles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pwd_family`
--

LOCK TABLES `pwd_family` WRITE;
/*!40000 ALTER TABLE `pwd_family` DISABLE KEYS */;
INSERT INTO `pwd_family` VALUES (1,1,'Father','Reynaldo','Calapao','Suarez',NULL,'2026-02-04 05:34:10','2026-02-04 05:34:10'),(2,1,'Mother','Anatalia','Calapao','Suarez',NULL,'2026-02-04 05:34:10','2026-02-04 05:34:10');
/*!40000 ALTER TABLE `pwd_family` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pwd_government_ids`
--

DROP TABLE IF EXISTS `pwd_government_ids`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pwd_government_ids` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pwd_profile_id` bigint(20) unsigned NOT NULL,
  `id_type` enum('SSS','GSIS','PhilHealth','Pag-IBIG') NOT NULL,
  `id_number` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pwd_government_ids_pwd_profile_id_id_type_index` (`pwd_profile_id`,`id_type`),
  KEY `pwd_government_ids_id_number_index` (`id_number`),
  CONSTRAINT `pwd_government_ids_pwd_profile_id_foreign` FOREIGN KEY (`pwd_profile_id`) REFERENCES `pwd_profiles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pwd_government_ids`
--

LOCK TABLES `pwd_government_ids` WRITE;
/*!40000 ALTER TABLE `pwd_government_ids` DISABLE KEYS */;
/*!40000 ALTER TABLE `pwd_government_ids` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pwd_household_info`
--

DROP TABLE IF EXISTS `pwd_household_info`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pwd_household_info` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pwd_profile_id` bigint(20) unsigned NOT NULL,
  `living_arrangement` varchar(255) DEFAULT NULL,
  `receiving_support` tinyint(1) NOT NULL DEFAULT 0,
  `is_pensioner` tinyint(1) NOT NULL DEFAULT 0,
  `pension_type` varchar(255) DEFAULT NULL,
  `monthly_pension` decimal(12,2) DEFAULT NULL,
  `income_source` varchar(255) DEFAULT NULL,
  `monthly_income` decimal(12,2) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pwd_economic_info_pwd_profile_id_foreign` (`pwd_profile_id`),
  KEY `pwd_economic_info_is_pensioner_index` (`is_pensioner`),
  CONSTRAINT `pwd_economic_info_pwd_profile_id_foreign` FOREIGN KEY (`pwd_profile_id`) REFERENCES `pwd_profiles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pwd_household_info`
--

LOCK TABLES `pwd_household_info` WRITE;
/*!40000 ALTER TABLE `pwd_household_info` DISABLE KEYS */;
INSERT INTO `pwd_household_info` VALUES (1,1,'Living with Family',0,0,NULL,NULL,'Allowance',3000.00,'2026-02-04 05:34:10','2026-02-04 05:34:10');
/*!40000 ALTER TABLE `pwd_household_info` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pwd_organizations`
--

DROP TABLE IF EXISTS `pwd_organizations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pwd_organizations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pwd_profile_id` bigint(20) unsigned NOT NULL,
  `organization_name` varchar(255) DEFAULT NULL,
  `contact_person` varchar(255) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `telephone` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pwd_organizations_pwd_profile_id_foreign` (`pwd_profile_id`),
  CONSTRAINT `pwd_organizations_pwd_profile_id_foreign` FOREIGN KEY (`pwd_profile_id`) REFERENCES `pwd_profiles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pwd_organizations`
--

LOCK TABLES `pwd_organizations` WRITE;
/*!40000 ALTER TABLE `pwd_organizations` DISABLE KEYS */;
/*!40000 ALTER TABLE `pwd_organizations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pwd_personal_info`
--

DROP TABLE IF EXISTS `pwd_personal_info`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pwd_personal_info` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pwd_profile_id` bigint(20) unsigned NOT NULL,
  `birth_date` date DEFAULT NULL,
  `birth_place` varchar(255) DEFAULT NULL,
  `sex` enum('Male','Female') DEFAULT NULL,
  `religion` varchar(255) DEFAULT NULL,
  `ethnic_group` varchar(255) DEFAULT NULL,
  `civil_status` enum('Single','Married','Widowed','Separated','Divorced') DEFAULT NULL,
  `blood_type` enum('A+','A-','B+','B-','O+','O-','AB+','AB-') DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pwd_personal_info_pwd_profile_id_foreign` (`pwd_profile_id`),
  KEY `pwd_personal_info_birth_date_index` (`birth_date`),
  KEY `pwd_personal_info_sex_index` (`sex`),
  KEY `pwd_personal_info_civil_status_index` (`civil_status`),
  CONSTRAINT `pwd_personal_info_pwd_profile_id_foreign` FOREIGN KEY (`pwd_profile_id`) REFERENCES `pwd_profiles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pwd_personal_info`
--

LOCK TABLES `pwd_personal_info` WRITE;
/*!40000 ALTER TABLE `pwd_personal_info` DISABLE KEYS */;
INSERT INTO `pwd_personal_info` VALUES (1,1,'2003-07-08','Sn. Pablo City','Male','Catholic','Aeta','Single','O+','2026-02-04 05:34:10','2026-02-04 06:17:02');
/*!40000 ALTER TABLE `pwd_personal_info` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pwd_profile_versions`
--

DROP TABLE IF EXISTS `pwd_profile_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pwd_profile_versions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pwd_profile_id` bigint(20) unsigned NOT NULL,
  `version_number` int(10) unsigned NOT NULL,
  `snapshot` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`snapshot`)),
  `changed_by` bigint(20) unsigned DEFAULT NULL,
  `change_summary` varchar(255) DEFAULT NULL,
  `changed_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pwd_profile_versions_changed_by_foreign` (`changed_by`),
  KEY `pwd_profile_versions_pwd_profile_id_version_number_index` (`pwd_profile_id`,`version_number`),
  KEY `pwd_profile_versions_changed_at_index` (`changed_at`),
  CONSTRAINT `pwd_profile_versions_changed_by_foreign` FOREIGN KEY (`changed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `pwd_profile_versions_pwd_profile_id_foreign` FOREIGN KEY (`pwd_profile_id`) REFERENCES `pwd_profiles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pwd_profile_versions`
--

LOCK TABLES `pwd_profile_versions` WRITE;
/*!40000 ALTER TABLE `pwd_profile_versions` DISABLE KEYS */;
/*!40000 ALTER TABLE `pwd_profile_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pwd_profiles`
--

DROP TABLE IF EXISTS `pwd_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pwd_profiles` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pwd_number` varchar(255) DEFAULT NULL,
  `first_name` varchar(255) NOT NULL,
  `last_name` varchar(255) NOT NULL,
  `middle_name` varchar(255) DEFAULT NULL,
  `suffix` varchar(255) DEFAULT NULL,
  `date_applied` date DEFAULT NULL,
  `status` enum('ACTIVE','INACTIVE','DECEASED','PENDING','UNDER_REVIEW') DEFAULT 'ACTIVE',
  `current_version` int(10) unsigned NOT NULL DEFAULT 1,
  `remarks` text DEFAULT NULL,
  `accessibility_needs` text DEFAULT NULL,
  `service_needs` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pwd_profiles_pwd_number_unique` (`pwd_number`),
  KEY `pwd_profiles_status_index` (`status`),
  KEY `pwd_profiles_last_name_index` (`last_name`),
  KEY `pwd_profiles_first_name_index` (`first_name`),
  KEY `pwd_profiles_date_applied_index` (`date_applied`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pwd_profiles`
--

LOCK TABLES `pwd_profiles` WRITE;
/*!40000 ALTER TABLE `pwd_profiles` DISABLE KEYS */;
INSERT INTO `pwd_profiles` VALUES (1,'123333','Jan Reinnen','Calapao','Suarez',NULL,'2026-02-04','DECEASED',8,'hahahaha','Wheel chair','Medical Assurance','2026-02-04 05:34:10','2026-02-04 06:17:02',NULL);
/*!40000 ALTER TABLE `pwd_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_number` varchar(255) NOT NULL,
  `first_name` varchar(255) NOT NULL,
  `last_name` varchar(255) NOT NULL,
  `middle_name` varchar(255) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('ADMIN','STAFF','ENCODER','USER','PWD MEMBER') NOT NULL DEFAULT 'USER',
  `unit` varchar(255) DEFAULT NULL,
  `status` enum('ACTIVE','INACTIVE') NOT NULL DEFAULT 'ACTIVE',
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_id_number_unique` (`id_number`),
  KEY `users_role_index` (`role`),
  KEY `users_status_index` (`status`),
  KEY `users_id_number_index` (`id_number`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-04 14:31:54
